<h1>Listing users</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Gender</th>
    <th>Email</th>
    <th>RFID</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.name %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.gender %></td>
    <td><%= user.email %></td>
    <td><%= user.rfid %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><a href="#" onclick="print('<%= "http://localhost:3000/users/qr_codes/" + user.id.to_s  %>');" >Print QR code</a></td>
    <td><%= link_to 'QR Code', :controller => "users", :action => "qr_codes", :id => user.id %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>

<br>
<br>

<%= link_to "go home", root_url %>

<script type="text/javascript" language="JavaScript">
  function print(url)
  {
        var win = window.open(url,"mywindow","width=20,height=150");
        win.focus();
  }
</script>
